button {
  width: 320px;
  height: 80px;
  font-family: var(--text-font-mono);
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50px;
}

.button-line {
  color: var(--color-blue);
  border-color: var(--color-blue);
  background-color: var(--color-beigt);
  border: 2px solid;
}

.button-full__blue {
  color: var(--color-beigt);
  background-color: var(--color-blue);
  border: none;
}

.button-full__beigt {
  color: var(--color-blue);
  border: none;
}