@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

:root {
  --text-font-mono: "PT Mono", monospace;

  --color-yellow: #FFBE58;
  --color-red: #9C041C;
  --color-cream: #FFD99D;
  --color-grey: #6E6E6E;
}

.page {
  font-family: var(--text-font-mono);
}
